#profilepic{
	bottom: -10px;
}

#content{
	left: -30px;
	font-family: Helvetica, Verdana, Tahoma;
	font-size: 14px;
	 
}

#name{
	color: #C00000  ;
}



@font-face {
    font-family: "Helve";
    src: url(../font/helve.ttf) format("truetype");

}
